<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <!-- 从环境变量读取密码 -->
        <property name="db.password" value="${env.DB_PASSWORD}"/>
    </properties>

    <settings>
        <!-- 打印查询日志 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <package name="com.lfs.domain"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.lfs.util.HikariCPDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://8.148.146.195:3336/lfs?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="${db.password}"/>
                <property name="autoCommit" value="true"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.lfs.dao"/>
    </mappers>

</configuration>
